.answer-div {
   margin: 10px;
   flex-wrap: wrap;
}

.answer-div-nonClickedNext {
   border: 2px solid black;
   border-radius: 12px;
   padding: 1em 2em;
}
/* to hide the radio buttons */
input[type="radio"]{
   visibility:hidden;
}

/* currently is overiddes all background color! */
input[type="radio"]:checked + label {
   background: rgb(228, 234, 241);
}