.question {
   padding: 2em 0 2em 0;
   margin-bottom: 1em;
   color: rgba(99, 110, 114,1.0);
}

.answers-div {
   margin-top: 1em;
   min-height: 5em;
   margin: 10px;
   padding: 1.4em 1.5em 1.1em 1.5em;
   vertical-align: middle; 
   color: rgba(99, 110, 114,1.0);
   font-weight: bold;
}

.answer-div-nonClickedNext {
   border: 2px solid rgba(99, 110, 114, 1.0); 
   border-radius: 12px;
   width: 50vw;
   cursor: pointer;
   background-color:rgb(133, 209, 219);
}
/* to hide the radio buttons */
.radio {
   display: none; 
}

/* currently is overiddes all background color! */
.radio:checked + .label-before-submit {
   background: rgba(243, 166, 131,1.0);
}

.label-before-submit:hover {
   background: rgba(243, 166, 131,0.5);
}

@media screen and (max-width: 767px) {
   .answer {
      align-items: center;
      width: 75vw;
      padding: 1.2em 1em;
      font-weight: 500;
      min-height: unset;
      line-height: normal;
   }
   .question {
      padding: 0px;
      font-size: 20px; 
   }
}
