.correct {
   color: green;
   border: 2px solid green;
   border-radius: 12px;
   padding: 1em 2em;
}

.incorrect {
   color: red;
   border: 2px solid red;
   border-radius: 12px;
   padding: 1em 2em;
}

.next-btn, .next-btn {
   display: block;
   color: darkslategray;
   margin: 10px auto;
   border: 1px solid darkslategray;
   border-radius: 5px;
   padding: 5px 20px;
   background: whitesmoke;
}

.next-btn:hover, .next-btn:hover {
   background: rgb(223, 223, 223);
}