.show-settings-timer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 45px;
}

.correct, .incorrect {
   border-radius: 12px;
   padding: 1em 2em;
   width: 50vw;
   cursor: pointer;
   font-weight: bold;
}

.correct {
   color: darkgreen;
   border: 2px solid darkgreen;
   background: rgb(128, 209, 128);
}

.incorrect {
   color: crimson;
   border: 2px solid crimson;
   background: rgb(223, 133, 151);
}

.submit-btn {
   display: block;
   color: rgb(80, 91, 95);
   margin: 5% auto;
   border: 1px solid rgb(99, 110, 114);
   border-radius: 5px;
   padding: 5px 20px;
   background: rgb(218, 217, 217);
   font-weight: bold; 
}

.submit-btn:hover {
   background: rgba(119, 139, 235,0.8);
   color: honeydew;
}

.section-question {
   height: 70vh;
   align-items: center;
   justify-content: center;
}

.quiz-main p {color: #feac5e;
   padding-left: 10px; 
}



