.result-showsettings {
   display: flex;
   justify-content: center;
}

.result-showsettings p {
   padding: 45px 30px;
   color: rgba(99, 205, 218,1.0);
   font-weight: bold; 
}

.result-main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: calc(100vh - 60px);
   overflow-x: hidden;
}

.result-info {
   text-align: center;
   font-size: large;
   font-weight: 800;
}

.result-info p {
   color: rgba(119, 139, 235,0.85);
   font-weight: bold; 
   max-width: 70vw; 
}

.result-image{
   max-width: 70vw; 
}
.result-message{
   max-width: 70vw; 
}

.playAgain-btn {
   border: 1px solid #796CEB;
   color: rgb(81, 68, 199);
   border-radius: 12px;
   padding: 1em 2em;
   background: white;
   transition: all 180ms ease-out;
   min-width: 150px;
}

.playAgain-btn:hover {
   background: #796CEB;
   color: white;
}

@media screen and (max-width: 420px) {
   .playAgain-btn {
      font-size: small;
      padding: 0.7em 1em;
      min-width: 120px;
   }
}