.answers-table {
   width: 80vw;
   text-align: center;
   margin: 10vh 0;
}

.answers-table button {
   margin-bottom: 1.5em;
}

.answers-tablehead tr th {
   vertical-align: middle;
}

@media screen and (max-width: 420px) {
   .answers-table {
      width: auto;
      font-size: small;
   }
}