
.chooseSettingsWrap { 
    width: 100%; 
    display: inline-block;
    margin: 5% auto; 
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

 
.settingsOptionsDrop { 
    margin: 10px 7%; 
    padding: 1em; 
    width: 310px;  
    border-radius: 10px; 
    font-size: large;
    cursor: pointer;
} 

.settingsOptionsDrop option {
    font-size: medium;
}

@media screen and (max-width: 865px) {
    .chooseSettingsWrap { 
        padding-top: 5vh;
        padding-bottom: 8vh;
    }

    .settingsOptionsDrop {
        margin: 20px;
        width: 60%;
    }
}


@media screen and (max-width: 758px) {
    .settingsOptionsDrop {
        width: 80%;
        padding: 0.7em; 
    }
    
    .settingsOptionsDrop option {
        font-size: large;
    }
}