
.HelpBtn {
    border-radius:10px ;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 2%; 
    height: 60%;
}
.start-btn {
    background-color:rgb(228, 158, 29);
    color: rgb(24, 27, 32);;
    font-weight: 500;
    font-size: 28px;
    border-radius: 15px; 
    border: 2px solid rgb(38, 42, 49);
    padding: 0.5em 1.5em;
    transition: 200ms ease;
    
}
button.start-btn:hover { 
    background-color:rgb(241, 114, 91);
}

.btns_container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}
.start_container {
    margin-top: 10px; 
    display: flex;
    justify-content: center;
    width: 15%;
}
.Close {
    border-radius:10px ;
    background:#EA4F33;
    align-self: center;
    border-color: #2679C1;
    position: relative;
}
.ModalStyle {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}
.Modal_Container {
    height: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(140, 220, 226, 0.98);
    border-radius: 10px;
}

p {
    position: relative;
    padding: 20px;
    padding-top: 5px;  
}

.Modal_Container h2 {
    color: black; 
    padding-top: 10px;
    padding: 0px; 
}

.homepage-main {
    height: 100vh;
    background-image: linear-gradient(60deg, #212931 0%, #485563 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}