
.help-btn-div {
    display: flex;
    justify-content: center; 
}

.HelpBtn {
    position: relative;
    left: 100px;
    background: #4BC0C8;
    text-align: center;
    top: 10px;
    width: 2em;
    height: 2em; 
    border-radius: 50%;
}

.start-btn {
    /* background-color:rgba(243, 166, 131,0.5); */
    background-color: #feac5e;
    color: rgb(60, 71, 77); 
    font-weight: 500;
    font-size: 28px;
    border-radius: 15px; 
    border: 2px solid rgba(99, 110, 114,1.0);
    padding: 0.5em 1.5em;
    transition: 200ms ease;    
}

button.start-btn:hover { 
    background-color:#f58d2d;
}

.btns_container {
  position: relative;
  top: 10vh; 
}

.start-btn-div {
    display: flex;
    justify-content: center; 
}

.Close {
    border-radius:10px;
    align-self: center;
    position: relative;
    padding: 0.3em 0.7em;
    color: rgb(55, 65, 68);
    background: #4BC0C8;
}
.Close:hover {
    background:lightblue;
}
.ModalStyle {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.Modal_Container {
    height: auto; 
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(247, 215, 148,0.9);
    border-radius: 10px;
    padding: 1.5em 0.5em;
}

.modal-text {
    text-align: center;  
    width: 70%;
    color: rgb(55, 65, 68);
}

.Modal_Container h2 {
    color: #004E8A !important; 
    padding-top: 10px;
    
}

.homepage-main {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-height: 800px) and (min-width: 1150px) {
    .btns_container {
        top: 15vh;
    }
    .start-btn {
        font-size: 23px;
    }
}

@media screen and (max-width: 758px) {
    .btns_container {
        top: 10vh; 
    }
    .Modal_Container {
        width: 60%;
    }
    .start-btn {
        font-size: 23px;   
    }
    .HelpBtn {
        font-size: smaller;
    }
}
    
@media screen and (max-width: 420px) {
    .start-btn {
        font-weight: 500;
        font-size: 22px;
    }

    .Modal_Container {
        height: 45%; 
        width: 80%;
    }
    .modal-text {
        font-size: small;
    }
    .Modal_Container h2 {
        font-size: 26px;
    }

    .Close {
        font-size: 12px;
    }

    .HelpBtn {
        top: 15px;
        left: 23vw;
    }
    
}


