.home-title,
.home-subtitle {
    text-align: center;
    position: relative;
    top: -10vh;
    /*changes vertical position*/
}

.home-title {
    color: #2679C1;
    font-size: 60px;
    padding: 0.5em 1em;
}

.home-subtitle {
    color: #f5b233;
    padding-bottom: 40px;
}


@media screen and (max-width: 768px) {
    .home-title {
        font-size: 49px;
    }
    
    .home-subtitle {
        font-size: 28px;
    }

}