.home-title,
.home-subtitle {
    text-align: center;
    position: relative;
    top: -10vh;
    /*changes vertical position*/
}

.home-title {
    color:rgb(48, 177, 194);
    font-size: 60px;
    padding: 0.5em 1em;
}

.home-subtitle {
    color: rgba(119, 139, 235,0.85); 
    padding-bottom: 40px;
}


@media screen and (max-width: 767px) {
    .home-title {
        font-size: 37px;
    }
    
    .home-subtitle {
        font-size: 20px;
    }

}


