.home-title,
.home-subtitle {
    text-align: center;
    position: relative;
    top: 18vh;  
    padding-bottom: 0.5em;
}



.home-title {
    font-family: 'Bungee Shade', cursive;
	font-size: 10vw;
	background: linear-gradient(
		-45deg, 
		#4bc0c8 25%, 
		#feac5e 25%, 
		#feac5e 50%, 
		#4bc0c8 50%, 
		#4bc0c8 75%, 
		#feac5e 75%, 
		#feac5e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 20px 20px;
	background-position: 0 0;
	animation: stripes 1s linear infinite;

    /* color:rgb(48, 177, 194);
    font-size: 60px;
    padding: 0.5em 1em; */
}

@keyframes stripes {
	100% { background-position: 20px 0, 20px 0, 20px 0; }
}
.home-subtitle {
    color: #4bc0c8; 
    font-size: 40px;
    font-weight: bold;
}
.box-title {
	height: 50%;
}


@media screen and (max-height: 800px) and (min-width: 1250px) {
    .home-title {
        font-size: 8vw;
        /* background: rgba(22, 22, 33, 0.5); */
        padding-bottom: 0.3em;
    }
    
    .home-subtitle {
        font-size: 32px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .home-title,
    .home-subtitle {
        top: 10vh;
    }
    
    .home-title {
        font-size: 60px;
        padding: 0 0.8em 1em 0.8em;
    }
    
    .home-subtitle {
        font-size: 22px;
        padding-bottom: 20px;
    }

    .box-title {
        height: 30%;
    }
}

@media screen and (max-width: 420px) {
    .home-title {
        font-size: 52px;
        padding: 0 0.3em 0.2em 0.3em;
    }
    
    .home-subtitle {
        font-size: 20px;
        padding-bottom: 0.5em;
    }
}



