nav { 
  background-color:rgba(0,0,0,0.3);
}

.navbar {  
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.nav-item {
  padding: 0 2em;
  list-style: none;
  
} 

.active {
  color: red;
  text-decoration: none;
}