/* global styles */

/* for main cointainer */

.quiz-main, .result-main, .about-main {
  position: relative;
  top: 60px;
  height: calc(100vh - 50px);
}

body {
  background-color: rgba(247, 215, 148,0.8);
}

