/* global styles */

/* for main cointainer */

.quiz-main, .result-main, .about-main {
  position: relative;
  top: 60px;
  height: calc(100vh - 90px);
}

body {
  background-color: #004e8a;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

