/* Hex Colors 
green   - #48914C
yellow  - #f5b233
orange - #EA4F33
brown  - #673c11
pink     - #e8467e
blue     - #2679C1
*/

.BtnContainer {
    width: 100%; 
    display: flex;
    justify-content: center;
}

button.btn.default{ 
    background-color: rgba(99, 205, 218,1.0); 
    color: rgb(218, 217, 217); 
    font-weight: bold;
    font-size: 27px;
    border-radius: 15px; 
    width: 100%;
    border:2px solid rgba(99, 110, 114,0.6); 
    transition: all 0.8s ease;

    }
button.btn.default:hover { background-color:rgba(119, 139, 235,0.85);
     color:rgba(243, 166, 131,1.0);
     border: 2px solid rgba(243, 166, 131,1.0);
     transition: all 0.8s ease;
      cursor:pointer; }
