.div404 {
   text-align: center; 
   position:relative;
   top: 15vh;
   color: #4BC0C8;
}

.div404 img {
   width: 500px;
   margin-top: 50px;
   margin-bottom: 30px;
}

.takemehome {
   padding-top: 1em;
}

.takemehome a {
   font-size: large;
   color: whitesmoke;
}



@media screen and (max-width: 767px) {
   .div404 {
      margin: 5%;
   }
   .div404 img {
      width: 75%;
   }
   .div404 h1 {
      font-size: 25px;
   }
   .div404 h3 {
      font-size: 18px;
   }
}